body {
	width: 100%;
}
.wrapper {
	width: 1160px;
	margin: 0 auto;
}
.chess {
	width: 700px;
	height: 700px;
	margin: 30px auto;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.cell {
	width: 10%;
	height: 10%;
	display: inline-block;
	vertical-align: top;
}
.cell.letters {
	font-family: 'Arial', sans-serif;
	font-weight: normal;
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.cell.grey {
	background-color: #f2dacd;
}
.cell.brown {
	background-color: #6d5345;
}