body {
  width: 100%;
}
.wrapper {
  width: 1160px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
.chess {
  display: inline-block;
  margin: 30px auto;
  border: 1px solid #ccc;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cell {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cell.grey {
  background-color: #c7b5ac;
}
.cell.brown {
  background-color: #6d5345;
}
.cell.text-white {
  color: #fff;
}
.cell.text-black {
  color: #000;
}